* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(135deg, #aa1aaa, #092683); */
    background: linear-gradient(135deg, #2bcf6a, #090b83);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    /* background: #42963f; */
    background: #9e9993;
    background: linear-gradient(135deg, #94db36, #20a185);
    margin: 100px auto 20px;
    padding: 40px 30px 40px;
    border-radius: 10px;
}

.box-list-container {
    overflow: auto;
    max-height: 480px;
}

.box-list-container::-webkit-scrollbar-track {
    background-color: #e6f7bd;
    border-radius: 20px;
}

.box-list-container::-webkit-scrollbar {
    width: 20px;
}

.box-list-container::-webkit-scrollbar-thumb {
    background-color: #e49945;
    border-radius: 20px;
}

.todo-app h2 {
    /* color: #022c6e; */
    color: #25202e;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;

}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.input-box {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

.add_btn {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

.new-task {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.new-task-jr.label {
    flex-grow: 1;
    font-size: 17px;
    padding-left: 16px;
    overflow-wrap: break-word;
}

.new-task-jr.checked {
    color: #555;
    text-decoration: line-through;
}

.new-task-jr.check-button {
    user-select: none;
    cursor: pointer;
    content: '';
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.new-task-jr.check-button.unchecked {
    background-image: url(images/unchecked.png);
}

.new-task-jr.check-button.checked {
    background-image: url(images/checked.png);
}

.new-task-jr.remove-button {
    user-select: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    color: #555;
    text-align: center;
    border-radius: 50%;
}

.new-task-jr.remove-button:hover {
    background: #edeef0;
}